.col-2{
	position: relative;
}

.col-2 .column{
	width: 40%;	
	float: left;	
}

.col-2.column.right, .col-3.sub-section.right {
	float: right;	
}


.col-3{
	position: relative;
}


.col-3 .sub-section{
	width: 30%;
	float: left;
}